/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */


/* code added for home page sprint challenge below */
* {
    /* border: 1px solid black; */
}
* {
    width:100%;
}

.header_content {
    display: flex;
    margin:2% 0;
}

.header_content .img_container {
    width: 20%;
}

.header_content nav {
    width:80%;
    display: flex;
}

.header_content nav a{
    text-align: center;
    text-decoration: none;
    color:black;
    font-size: 0.45rem;
    margin-top: 5%;
}

.header_img_container {
    width:90%;
    margin: 4% auto 2%;
}

.header_img_container img {
    height:inherit;
}

#number_one{
    background-color: teal;
}
#number_two{
    background-color: gold;
}
#number_three{
    background-color: cadetblue;
}
#number_four{
    background-color: coral;
}
#number_five{
    background-color: crimson;
}
#number_six{
    background-color: forestgreen;
}
#number_seven{
    background-color: darkorchid;
}
#number_eight{
    background-color: hotpink;
}
#number_nine{
    background-color:indigo;
}
#number_ten{
    background-color: dodgerblue;
}

.container {
    padding: 0 5%;
}

/* about page code for challenge */
.about_content h1{
    font-size: .75rem;
    margin-bottom: 1%;
}

.about_content p{
font-size: .55rem;
}
.about_content {
    margin: 0 auto;
    width:100%;
    margin-bottom: 3%;
    padding: 1%;
    padding-bottom: 2%;
    border-bottom: 1px dotted black;
}

.learn_more_container_main {
    display:flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.learn_more_container_sub {
    width:48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3%;
    padding-bottom: 2%;
    border-bottom: 1px dotted black;

}

.learn_more_container_sub h3{
    font-size: .75rem;
    margin-top: 2%;
}

.learn_more_container_sub p{
    font-size: .60rem;
}

.learn_more_container_sub a{

    text-decoration: none;
    color:black;
    border-radius: 5px;
    border:2px solid black;
    width:35%;
    padding:2.5% 2%;
    font-size: .6rem;
    text-align: center;
    margin-top: 5%;
}

.about_last{
    width:100%;
    margin:4% auto;
}

.about_last h3{
font-size: .75rem;
}

.about_last p{
    font-size: .5rem;
    }


    
/* existing code below */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 100%; /* changed to 100% for variable screen sizes */
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    /* background: black; */
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4%;
    font-size: .5rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}